{
    "AppId": "iLibraryMobile",
    "DestinationName": "iLibraryMobileEndpoint",
    "OfflineEnabled": true,
    "LanguageURLParam": "sap-language",
    "OnlineOptions": {}
}